.container{
  padding-right: 0px;
  padding-left: 0px;
  border: 6px solid;
  border-color: #C0C0C0;
}
#header {
  /*background-color: #E6F0C2;*/
  font-size: 4em;
  text-align: center;
  padding-top: 100px;
  background-image: url(../images/minions-ping-pong.jpg);
  height: 530px;
  padding-left: 40%;
}

.row {
  padding-top: 50px;
  margin-top: 0px;
  background-color: #aad4e5;
  margin-left: 1px;
  margin-right: 1px;
}

.txt1 {
  font-size: 2em;
}

.txt2 {
  color: #E8F587;
}
.txt3 {
  color: #blue;
}

.formaln {
			vertical-align: middle;
      text-align: center;
			}
#row2{
    opacity: 0.8;
}
#hear{
border-radius: 25px;
background-image: url(../images/table.jpg);
}
.img {
  width: 100%;
  height: 100%;
}
