#header {
  height: 300px;
  background-color: #E6F0C2;
  font-size: 4em;
  text-align: center;
  padding-top: 100px;
  margin-left: 0px;
  margin-right: 0px;
}

.row {
  padding-top: 50px;
  margin-top: 0px;
  background-color: #F5EDF6;
}
